body, p {
	font-family: 'Titillium Web', sans-serif;
	font-style: normal;
    font-size: 16px;
    color: #0A3C5C;
}

*, html {
    font-family: 'Titillium Web', sans-serif;
	font-style: normal;
}

a {
    font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	color: #226622;
	text-decoration: none;
}

a :hover {
	background-color: #226622;
	color: #0A3C5C;
    text-decoration: solid;
}

ul, ol, li {
    font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: 700;
    font-size: 18px;
    color: #0A3C5C;
}

h3,
h4,
h5,
h6 {
  font-family: 'Exo 2', sans-serif;
  font-style: bold;
  font-weight: 400;
  font-size: 20px;
  color: #0A3C5C;
}

h1, h2 {
  font-family: 'Exo 2', sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 24px;
  color: #0A3C5C;
}

h2 {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
}

table.listing {
    width: 95%;
}

table.listing td {
    width: 50%;
}

table.listing tr.even {
    background-color: #ADADAD;
}

table.listing tr.odd {
    background-color: #FDFDFD;
}

.button {
    color: #EFEFEF;
    font-weight: bold;
    line-height: 30px;
    display: block;
    width: 250px;
    text-align: center;
	background-color: #0A3C5C;
}

.green {
    color: #226622;
}

.red {
    color: #993333;
}

.blue {
    color: #336699;
}

.left {
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%;
}

.header {
    height: 30px;
    padding-top: 0px;
    padding-left: 50px;
    color: #0A3C5C;
    font-size: 32px;
    font-weight: bold;
}

.title {
    height: 30px;
    color: #0A3C5C;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.footer {
	width: 100%;
	position: fixed;
	bottom: 0px;
	padding-left: 40%;
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	color: #0A3C5C;
	padding-top: 5px;
	background-color: #FFFFFF;
	vertical-align: bottom;
	border-top: solid;
	border-width: 1px;
	border-color: grey;
}

.line {
    height: 1px;
    width: 100%;
    background-color: #0A3C5C;
    margin-top: 0px;
    margin-bottom: 0px;
}

/*** table banner ***/

#menu {
	position: fixed;
	display: block;
	top: 60px;
	right: 0px;
    width: 300px;
	padding-bottom: 5px;
	background-color: #FFFFFF;
}

#menu.div a:hover {
	text-decoration: underline;
	color: red;
}


.banner {
	position: fixed;
	display: block;
	top: 0px;
	left: 0px;
    width: 100%;
	padding-bottom: 3px;
	background-color: #FFFFFF;
    border-bottom: 2px solid #0A3C5C;
}

#banner table {
	position: fixed;
    top: 0px;
    left: 0px;
	background: #FFFFFF; 
}

#banner .image {
    background-image: url("logo-small.png");
    background-repeat: no-repeat;
    width: 193px;
    height: 83px;
	padding-left: 50px;
	padding-bottom: 2px;
}

/*** main box ***/

#main {
	margin-left: 20%;
	margin-top: 100px;
	margin-bottom: 100px;
    border: 1px thin #226622;
    background-color: #EDEDED;
    padding: 10px 10px 10px 50px;
    font-size: 16px;
	width: 60%;
    text-align: left;
}

#main a:hover {
	text-decoration: underline;
	color: 0A3C5C;
	background-color: #FFFFFF;
}

content {
	padding: 10px 10px 10px 10px;
}

.div-button {
	background-color: #0A3C5C;
	color: #226622;
    height: 32px;
    padding-top: 10px;
}


div.licence {
    overflow: auto;
    height: 300px;
    border: 1px solid #0A3C5C;
    background-color: #FEFEFE;
    padding: 10px 10px 10px 10px;
}

input {
	width: 200px;
    font-size: 16px;
	text-align: left;
    border: 1px solid #0A3C5C;
    background-color: #FAFAFA;
	color: #000000;
	padding: 2px 2px 2px 2px;
}

.flag_button {
	display: inline-block;
	margin: 20px;
}

.flag_button img.flag {
	max-width: 80px;
}

.flag_button .label {
    font: size 16px;
	padding: 5px;
    display: block;
    background-color: #ADADAD;
    text-align: center;
    height: 30px;
}

a.show_incomplete.button {
	text-align: center;
	display: block;
	margin: 10px auto;
	width: 300px;
	font-size: 18px;
	line-height: 30px;
	white-space: nowrap;
	height: 30px;
}

.error {
	color: red;
	font-weight: bold;
	font-size: 18px;
    text-align: center;
}
