#statusbar_content {
	background: green;
}

.Base_StatusBar img {
	position: absolute;
	float: right;
	right: 10px;
	top: 10px;
	z-index: 2002;
}

.Base_StatusBar {
	z-index: 2001;
  	position: fixed;
	top: 0px;
	left: 0px;
	width: 200px;
	height: 20px;
	text-align: right;
	background-color: red;
}

.Base_StatusBar .message {	
    font-family: Tahoma, Verdana, Vera-Sans, DejaVu-Sans;
	font-size: 18px;
	color: #336699;	
	background-repeat: no-repeat;
}

.Base_StatusBar .loading.message {
	background-image: url('Base/StatusBar/loader.gif');
	background-color: #EEEEFF;
	width: 100px;
}

.Base_StatusBar .normal.message {
	background-image: none;
	background-color: #EEEEFF;
    padding-left: 0;
    width: 200px;
}
.Base_StatusBar .warning.message {
	background-image: none;
	background-color: #FFEE66;
	color: #000000;
    padding-left: 0;
    width: 200px;
}
.Base_StatusBar .error.message {
	background-image: none;
	background-color: #BB0000;
    color: #FFFFFF;
    padding-left: 0;
    width: 200px;
}
.Base_StatusBar #dismiss {
    color: #AAAAAA;
    position: relative;
    font-size: 80%;
    margin: 0;
    padding: 0;
    top: 2px;
}
