.css3_content_shadow_view {
	width: 96%;
	height: auto;
	padding: 9px;
	margin-top: 10px;
}

#Utils_Attachment__view {
    width: 100%;
    background-color: #FFFFFF;
    height: 400px;
	border: 1px solid silver;
}


#Utils_Attachment__view .header {
    color: #EFEFEFE;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    background: #7b9cbd;
}

#Utils_Attachment__view .file {
    vertical-align: top;
    text-align: left;
    font-size: 14px;
    height: 40px;
    width: 50px;
    vertical-align: middle;
    background-color: #E3E3E3;
}

#Utils_Attachment__view .file a {
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    line-height: 40px;
    height: 40px;
}

#Utils_Attachment__view .file a:hover {
    background-color: #e6cfcf;
}

#Utils_Attachment__view .file_icon {
    width: 50px;
}

#Utils_Attachment__view .file_icon a {
    padding: 4px 9px 4px 9px;
    line-height: 32px;
    height: 32px;
    width: 32px;
}

#Utils_Attachment__view .file_name {
    width: auto;
}

#Utils_Attachment__view .file_desc {
    vertical-align: middle;
    background-color: #E3E3E3;
    padding-left: 10px;
    padding-right: 10px;
    width: 130px;
    color: #777777;
}

#Utils_Attachment__view .notepad-left {
    border-right: 2px solid #b3b3b3;
    width: 20%;
}

#Utils_Attachment__view .note {
    padding: 10px;
    vertical-align: top;
}

.Utils_Attachment__table {
    width: 98%;
    vertical-align: middle;
    height: 31px;
}

.Utils_Attachment__table .icon {
    width: 32px;
    height: 27px;
    text-align: left;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: top;
    background-color: #666666;
}

.Utils_Attachment__table .icon img {
    position: absolute;
    clip: rect(0px 32px 28px 0px);
}

.Utils_Attachment__table .name {
    width: 30%;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    padding-left: 10px;
    padding-top: 7px;
    height: 24px;
    vertical-align: top;
	background: #666666;
}

.Utils_Attachment__table .required_fav_info {
    color: #777777;
    text-align: right;
    padding-right: 20px;
}

.attachment_full_note_edit table {
	width: 95%;
}

.attachment_full_note_edit .element {
	width: 20%;
}
